.calculator-container {
  border-radius: 15px;
  padding: 12px;
  justify-content: center;
  margin: auto;
  width: clamp(30rem, 100%, 60vh);
  height: clamp(30rem, 100%, 65vh);
  background-color: rgba(255, 255, 255, 0.804);
}

.buttons-container {
  padding: 12px;
}

.result {
  background-color: white;
  align-items: center;
}
.result > .col {
  height: fit-content;
  font-size: 30px;
}
